{% extends 'base.html.twig' %}

{% block title %}{{ 'Todo-List'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">

    </div>
{% endblock %}
